
[VERSION]

major = 1 ; 
minor = 0 ; 

[WEIGHT_AND_BALANCE]

; LEGACY
reference_datum_position = 0.000, 0.000, 0.000 ; Position of reference datum relative to FS(0,0,0) (FEET), z, x, y
empty_weight_cg_position = -2.58294, 0.000, 0.000 ; -2.9300, 0.000, 0.000
max_number_of_stations = 2 ; Number of payload stations
empty_weight = 255346.000 ; Empty weight, (LBS)
empty_weight_roll_moi = 6500000.000 ; Empty roll moment of inertia, Jzz (SLUG SQ FEET)
empty_weight_pitch_moi = 8000000.000 ; Empty pitch moment of inertia, Jxx (SLUG SQ FEET)
empty_weight_yaw_moi = 6500000.000 ; Empty yaw moment of inertia, Jyy (SLUG SQ FEET)
empty_weight_coupled_moi = 0.000 ; Empty transverse moment of inertia, Jyz (SLUG SQ FEET)
max_gross_weight = 474000.000 ; Empty weight, (LBS)
cg_forward_limit = 0.000 ; Gravity center forward limit (longitudinal offset) for longitudinal stability
cg_aft_limit = 1.000 ; Gravity center after limit (longitudinal offset z) w.r.t reference datum for longitudinal stability (FEET)
station_load.0 = 42000,52.0,0,0,Zone 0 ; 
station_load.1 = 42000,-52.0,0,0,Zone 1 ; 
; MODERN
;-activate_mach_limit_based_on_cg = 0 ; Activate mach limitation depending on CG position (true if > 0 /false othewise). Mostly for Concorde).
;-activate_cg_limit_based_on_mach = 0 ; Activate cg limitation depending on mach value (true if > 0 /false othewise). Mostly for Concorde).

[FUEL]

; LEGACY
; ����� ������ �� 3.039
fuel_type = 2.000000 ; 1 = OCTANE 100, 2 = JET_A, 3 = OCTANE 80, 4 = AUTO GAS, 5 = JET B
number_of_tank_selectors = 4 ; Max 4
electric_pump = 0 ; 
lefttip = -5.000, -33.510, 0.000, 3331.600, 0.000 ; 1
leftaux = 7.500, -15.770, 0.000, 5018.000, 0.000 ; 2
rightaux = 7.500,  15.770, 0.000, 5018.000, 0.000 ; 3
righttip = -5.000,  33.510, 0.000, 3331.600, 0.000 ; 4
external1 = -15.000, -47.725, 0.000, 871.990,  0.000 ; 1a
external2 = -15.000,  47.725, 0.000,  871.990, 0.000 ; 4a
center1 = 9.500,   0.000, 0.000, 10658.600,0.000 ; 5
; MODERN
;-leftmain = -8, -13, 2, 1800, 0 ; For each tank: Tank position (z longitudinal, x lateral, y vertical) (FEET), total fuel capacity (GALLONS), unusable fuel capacity (GALLONS)
;-rightmain = -8, 13, 2, 1800, 0 ; 
;-center2 = 0, 0, 0, 0, 0 ; 
;-center3 = 0, 0, 0, 0, 0 ; 
;-engine_driven_pump = 1 ; 
;-manual_transfer_pump = 0 ; 
;-manual_pump = 0 ; 
;-anemometer_pump = 0 ; 
;-fuel_dump_rate = 0.02 ; 
;-default_fuel_tank_selector = 1 ; Default fuel selector used in case of autostart, default is ALL.

[CONTACT_POINTS]

; LEGACY
static_pitch = 0.2 ; degrees, pitch when at rest on the ground (+=Up, -=Dn)
static_cg_height = 15 ; feet, altitude of CG when at rest on the ground
max_number_of_points = 4 ; Number of contact points
; �������� �������
; point.0 = 1, 64.5, 0, -14.59, 1574.803, 0, 2.1, 74, 0.38, 1.7, 0.53, 9, 8, 0, 0, 0
; point.1 = 1, -1, -17, -15.1, 1574.803, 1, 2.23, 0, 1.1, 1.1, 0.67, 10, 8, 2, 230, 1202.542
; point.2 = 1, -1, 17, -15.1, 1574.803, 2, 2.23, 0, 1.1, 1.1, 0.67, 10, 8, 3, 230, 1202.542
; point.3 = 1, -7, 0, -15, 1574, 0, 2.23, 0, 1.1, 1.2, 0.67, 10, 8, 1, 230, 1202
; ������� � ���������� �����������
point.0 = 1, 64.5, 0, -14.59, 1574.803, 0, 2.1, 74, 0.38, 1.7, 0.53, 9, 8, 0, 0, 0 ; 
point.1 = 1, -7, -17, -15.1, 1574.803, 1, 2.23, 0, 1.1, 1.1, 0.67, 10, 8, 2, 230, 1202.542 ; 
point.2 = 1, -7, 17, -15.1, 1574.803, 2, 2.23, 0, 1.1, 1.1, 0.67, 10, 8, 3, 230, 1202.542 ; 
gear_system_type = 0 ; gear system type (betweeen 0 and 4) 0 = electrical, 1 = hydraulic, 2 = pneumatic, 3 = manual, 4 = none, 5 = undefined
; MODERN
;-tailwheel_lock = 0 ; Is tailwheel lock available TRUE/FALSE
;-gear_locked_on_ground = 0 ; Defines whether or not the landing gear handle is locked to down when the plane is on the ground.
;-gear_locked_above_speed = -1 ; Defines the speed at which the landing gear handle becomes locked in the up position. (-1 = Disabled)

[AIRPLANE_GEOMETRY]

; LEGACY
; ACM_AREAW1; 0,0,0,7.5679,2.6698,2.6698,0,7.1897,5.3396,5.3396
; ACM_AREAW2; 0,6.8112,8.0094,8.0094,0,6.4327,10.6793,10.6793,0,6.0545
; ACM_AREAW3; 13.3491,13.3491,0,5.6760,16.0188,16.0188,0,5.2975,18.6886,18.6886
; ACM_AREAW4; 0,4.9193,21.3586,21.3586,0,4.5409,24.0284,24.0284,0,4.1623
; ACM_AREAH1; 0,0,0,22.4789,3.7464,3.7464,0,21.3549,7.4928,7.4928
; ACM_AREAH2; 0,20.2310,11.2392,11.2392,0,19.1070,14.9857,14.9857,0,17.9831
; ACM_AREAH3; 18.7324,18.7324,0,16.8591,22.4789,22.4789,0,15.7350,26.2254,26.2254
; ACM_AREAH4; 0,14.6113,29.9719,29.9719,0,13.4871,33.7182,33.7182,0,12.3634
; ACM_AREAV1; 0,0,0,8.5122,0.9458,0.9458,0.9458,8.7770,1.8916,1.8916
; ACM_AREAV2; 1.8916,9.0419,2.8373,2.8373,2.8373,9.3069,3.7832,3.7832,3.7832,9.5717
; ACM_AREAV3; 4.7291,4.7291,4.7291,9.8366,5.6749,5.6749,5.6749,10.1014,6.6206,6.6206
; ACM_AREAV4; 6.6206,10.3662,7.5665,7.5665,7.5665,10.6309,8.5122,8.5122,8.5122,10.8957
; ACM_CAREAW1; 12.0142,12.0142,3.7839,5.2975,13.3491,13.3491,3.7839,5.2220,14.6840,14.6840
; ACM_CAREAW2; 3.7839,5.1462,16.0188,16.0188,3.7839,5.0706,17.3537,17.3537,3.7839,4.9949
; ACM_CAREAW3; 18.6886,18.6886,3.7839,4.9193,20.0237,20.0237,3.7839,4.8435,21.3586,21.3586
; ACM_CAREAW4; 3.7839,4.7677,22.6935,22.6935,3.7839,4.6922,24.0284,24.0284,3.7839,4.6163
; ACM_CAREAH1; 0,0,11.2392,22.4789,3.7464,3.7464,11.2392,21.9169,7.4928,7.4928
; ACM_CAREAH2; 11.2392,21.3549,11.2392,11.2392,11.2392,20.7929,14.9857,14.9857,11.2392,20.2310
; ACM_CAREAH3; 18.7324,18.7324,11.2392,19.6690,22.4789,22.4789,11.2392,19.1070,26.2254,26.2254
; ACM_CAREAH4; 11.2392,18.5450,29.9719,29.9719,11.2392,17.9831,33.7182,33.7182,11.2392,17.4211
; ACM_CAREAV1; 0,0,2.1280,6.3843,0.9458,0.9458,3.0738,6.9896,1.8916,1.8916
; ACM_CAREAV2; 4.0197,7.5949,2.8373,2.8373,4.9654,8.2003,3.7832,3.7832,5.9113,8.8056
; ACM_CAREAV3; 4.7291,4.7291,6.8572,9.4109,5.6749,5.6749,7.8028,10.0163,6.6206,6.6206
; ACM_CAREAV4; 8.7489,10.6216,7.5665,7.5665,9.6947,11.2269,8.5122,8.5122,10.6405,11.8323
wing_area = 3551.000 ; Wing area S (SQUARE FEET)
wing_span = 157.667 ; Wing span b (FEET)
wing_root_chord = 24.830 ; Wing root chord croot (FEET)
wing_dihedral = 6.476 ; Dihedral angle Lambda (DEGREES)
wing_incidence = 0.000 ; Wing incidence (DEGREES)
wing_twist = -4.000 ; Wing twist epsilon (DEGREES)
oswald_efficiency_factor = 0.920 ; Wing Oswald efficiency factor e (non dimensional)
wing_winglets_flag = 0 ; Has winglets true/false
wing_sweep = 0.000 ; Wing sweep (DEGREES)
wing_pos_apex_lon = 6.2 ; Longitudinal (z) position of wing apex w.r.t reference datum (FEET)
wing_pos_apex_vert = 0.000 ; Vertical (y) position of wing apex w.r.t reference datum (FEET)
htail_area = 1038.000 ; Horizontal tail area (SQUARE FEET)
htail_span = 221.250 ; Horizontal tail span (FEET)
htail_pos_lon = -85.750 ; Longitudinal (z) position of horizontal tail  w.r.t reference datum (FEET)
htail_pos_vert = 8.000 ; Vertical (y) position of horizontal tail  w.r.t reference datum (FEET)
htail_incidence = -1.300 ; Horizontal tail incidence (DEGREES)
htail_sweep = 0.000 ; Horizontal tail sweep angle (DEGREES)
vtail_area = 600.000 ; Vertical tail area (SQUARE FEET)
vtail_span = 27.928 ; Vertical tail span (FEET)
vtail_sweep = 45.000 ; Vertical tail sweep angle (DEGREES)
vtail_pos_lon = -95.167 ; Longitudinal (z) position of vertical tail  w.r.t reference datum (FEET)
vtail_pos_vert = 5 ; Vertical (y) position of vertical tail  w.r.t reference datum (FEET)
elevator_area = 171.000 ; Elevator area (SQUARE FEET)
aileron_area = 101.500 ; Elevator area (SQUARE FEET)
rudder_area = 175.700 ; Elevator area (SQUARE FEET)
elevator_up_limit = 25.502 ; Elevator max deflection up angle (DEGREES)
elevator_down_limit = 25.626 ; Elevator max deflection down angle (absolute value) (DEGREES)
aileron_up_limit = 25.481 ; Aileron max deflection  angle (DEGREES)
aileron_down_limit = 12.897 ; Aileron max deflection down angle (absolute value) (DEGREES)
rudder_limit = 27.491 ; Rudder max deflection angle (absolute value) (DEGREES)
elevator_trim_limit = 12.000 ; Elevator trim max angle (absolute value) (DEGREES)
spoiler_limit = 60.000 ; Spoiler max deflection angle (absolute value) (DEGREES)
aileron_to_spoileron_gain = 0.000 ; Aileron influence on spoileron angle (non-dimensional)
min_ailerons_for_spoilerons = 0.000 ; Minimum aileron deflection (absolute value) in which spoilerons are active (DEGREES)
min_flaps_for_spoilerons = 0.000 ; Minimum flaps deflection (absolute value) in which spoilerons are active (DEGREES)
spoilerons_available = 1 ; Aircraft has spoilerons true/false
auto_spoiler_available = 0 ; Auto spoilers available true/false
spoiler_extension_time = 3.000000 ; Spoilers extension time (SECONDS)
positive_g_limit_flaps_up = 4.000000 ; Flap positive load limit when up. Same dimension as gravity vector FEET/SECONDS^2
positive_g_limit_flaps_down = 3.000000 ; Flap positive load limit when down. Same dimension as gravity vector FEET/SECONDS^2
negative_g_limit_flaps_up = -3.000000 ; Flap negative load limit when up. Same dimension as gravity vector FEET/SECONDS^2
negative_g_limit_flaps_down = -2.000000 ; Flap negative load limit when down. Same dimension as gravity vector FEET/SECONDS^2
; MODERN
;-wing_camber = 1 ; (DEGREES)
;-wing_thickness_ratio = 0.02 ; Local thickness is local_chord(x)*wing_thickness_ratio, x = lateral coord
;-htail_thickness_ratio = 0.02 ; Local thickness is local_chord(x)*htail_thickness_ratio, x = lateral coord
;-vtail_thickness_ratio = 0.02 ; Local thickness is local_chord(x)*vtail_thickness_ratio, x = lateral coord
;-fuselage_length = 164 ; Nose to tail (FEET)
;-fuselage_diameter = 10 ; 
;-fuselage_center_pos = -5, 0, 6 ; 
;-rudder_trim_limit = 20 ; Rudder trim max deflection angle (absolute value) (DEGREES)
;-spoiler_handle_available = 1 ; Spoiler handles available true/false
;-auto_spoiler_min_speed = 0 ; Auto spoilers minimum trigger speed
;-load_safety_factor = 1 ; Flap negative load limit when down. Same dimension as gravity vector FEET/SECONDS^2
;-elevator_trim_neutral = 0 ; Elevator trim max angle (absolute value) (DEGREES), for indicators only (no influence on flight model)
;-aileron_to_rudder_scale = 0 ; non-dimensional
;-flap_to_aileron_scale = 0 ; non-dimensional
;-fly_by_wire = 1 ; Fly-by-wire available true/false
;-elevator_elasticity_table = 0:1, 114.314766:1, 212.078687:0.66, 414.920262:0.33, 1344.341647:0.1 ; 
;-aileron_elasticity_table = 0:1, 114.314766:1, 212.078687:0.66, 414.920262:0.33, 1344.341647:0.1 ; 
;-rudder_elasticity_table = 0:1, 114.314766:1, 212.078687:0.66, 414.920262:0.33, 1344.341647:0.1 ; 
;-elevator_trim_elasticity_table = 0:1, 114.314766:1, 212.078687:0.66, 414.920262:0.33, 1344.341647:0.1 ; 

[FLIGHT_TUNING]

; LEGACY
cruise_lift_scalar = 1.000 ; 
parasite_drag_scalar = 1.000 ; 
induced_drag_scalar = 1.000 ; 
elevator_effectiveness = 1.000 ; 
aileron_effectiveness = 1.000 ; 
rudder_effectiveness = 1.000 ; 
pitch_stability = 1.200 ; 
roll_stability = 1.000 ; 
yaw_stability = 1.000 ; 
elevator_trim_effectiveness = 1.300 ; 1.000 (��� 747)  ;2.000
aileron_trim_effectiveness = 1.000 ; 
rudder_trim_effectiveness = 1.200 ; 
; MODERN
;-flap_induced_drag_scalar = 1 ; 
;-elevator_maxangle_scalar = 1 ; 
;-rudder_maxangle_scalar = 1 ; 
;-hi_alpha_on_roll = 0 ; 
;-hi_alpha_on_yaw = 0 ; 
;-p_factor_on_yaw = 0 ; 
;-torque_on_roll = 0 ; 
;-gyro_precession_on_roll = 0 ; 
;-gyro_precession_on_yaw = 0 ; 
;-engine_wash_on_roll = 0 ; Torque effect
;-wingflex_scalar = 0.3 ; 
;-wingflex_offset = 0.0 ; 

[REFERENCE SPEEDS]

; LEGACY
flaps_up_stall_speed = 170.000 ; Knots True (KTAS)
full_flaps_stall_speed = 110.600 ; Knots True (KTAS)
cruise_speed = 480.000 ; Knots True (KTAS)
max_indicated_speed = 370.000000 ; Red line (KIAS)
max_mach = 0.88 ; 
; MODERN
;-max_flaps_extended = 274.030126 ; 
;-normal_operating_speed = 360 ; 
;-airspeed_indicator_max = 562.5 ; 
;-rotation_speed_min = -1 ; Min speed required (Kts)
;-climb_speed = 231 ; Climb speed (Kts)
;-cruise_alt = 36000 ; (ft)
;-takeoff_speed = 140 ; Takeoff Speed (Kts)
;-spawn_cruise_altitude = 1500 ; Spawn Altitude (ft)

[FLAPS.0]

; LEGACY
type = 1 ; Flap type 0 = None, 1 = trailing edge, 2 = leading edge
span-outboard = 0.800 ; Outboard span area (added area) (percentage, non dimensional)
extending-time = 15.000 ; Flap extension time (SECONDS)
system_type = 1 ; Flap system type 0 = electrical, 1 = hydraulic, 2 = pneumatic, 3 = manual, 4 = none
damaging-speed = 0.000 ; Speed above which flap is damaged (Kts)
blowout-speed = 0.000 ; Speed above which flap is blown out (Kts)
lift_scalar = 0.400 ; Scalar coefficient to ponderate global flap lift coef (non dimensioned)
drag_scalar = 1.000 ; Scalar coefficient to ponderate global flap drag coef (non dimensioned)
pitch_scalar = 1.000 ; Scalar coefficient to ponderate global flap pitch coef (non dimensioned)
flaps-position.0 = 0.000 ; 
flaps-position.1 = 15.000 ; 
flaps-position.2 = 30.000 ; 
flaps-position.3 = 40.000 ; 
; MODERN
;-maneuvering_flaps = 0 ; 
;-max_on_ground_position = 4 ; Dynamically set in-tool to last flap-position index by defaut when -1 is found.
;-flaps-position.4 = 35, -1, 1 ; 

[FLAPS.1]

; LEGACY
type = 1 ; Flap type 0 = None, 1 = trailing edge, 2 = leading edge
span-outboard = 0.800 ; Outboard span area (added area) (percentage, non dimensional)
extending-time = 10.000 ; Flap extension time (SECONDS)
system_type = 1 ; Flap system type 0 = electrical, 1 = hydraulic, 2 = pneumatic, 3 = manual, 4 = none
damaging-speed = 250.000 ; Speed above which flap is damaged (Kts)
blowout-speed = 300.000 ; Speed above which flap is blown out (Kts)
lift_scalar = 0.450 ; Scalar coefficient to ponderate global flap lift coef (non dimensioned)
drag_scalar = 0.000 ; Scalar coefficient to ponderate global flap drag coef (non dimensioned)
pitch_scalar = 0.400 ; Scalar coefficient to ponderate global flap pitch coef (non dimensioned)
flaps-position.0 = 0.000 ; 
flaps-position.1 = 0.000 ; 
flaps-position.2 = 30.000 ; 
flaps-position.3 = 30.010 ; 
; MODERN
;-maneuvering_flaps = 0 ; 
;-max_on_ground_position = 4 ; Dynamically set in-tool to last flap-position index by defaut when -1 is found.
;-flaps-position.4 = 35, -1, 1 ; 

[FLAPS.2]

; LEGACY
type = 1 ; Flap type 0 = None, 1 = trailing edge, 2 = leading edge
span-outboard = 0.800 ; Outboard span area (added area) (percentage, non dimensional)
extending-time = 5.000 ; Flap extension time (SECONDS)
system_type = 1 ; Flap system type 0 = electrical, 1 = hydraulic, 2 = pneumatic, 3 = manual, 4 = none
damaging-speed = 250.000 ; Speed above which flap is damaged (Kts)
blowout-speed = 300.000 ; Speed above which flap is blown out (Kts)
lift_scalar = 0.130 ; Scalar coefficient to ponderate global flap lift coef (non dimensioned)
drag_scalar = 0.700 ; Scalar coefficient to ponderate global flap drag coef (non dimensioned)
pitch_scalar = -0.100 ; Scalar coefficient to ponderate global flap pitch coef (non dimensioned)
flaps-position.0 = 0.000 ; 
flaps-position.1 = 0.000 ; 
flaps-position.2 = 0.000 ; 
flaps-position.3 = 40.000 ; 
; MODERN
;-maneuvering_flaps = 0 ; 
;-max_on_ground_position = 4 ; Dynamically set in-tool to last flap-position index by defaut when -1 is found.
;-flaps-position.4 = 35, -1, 1 ; 
